
html {
    --dark-blue: #00577A;
    --crimson: #C00056;
    --dark-yellow: #F3D840;
    --light-gray: #E0E5E9;
}

body {
    font-family: 'Jost', sans-serif;
    background-color: var(--dark-blue);
    color: var(--light-gray);
}

.navbar {
    background-color: var(--dark-yellow);
    --bs-navbar-color: var(--crimson);
}

.navbar-brand {
    --bs-navbar-brand-color: var(--crimson);
}

.grid-2-columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.btn {
    --bs-btn-bg: var(--dark-yellow);
    --bs-btn-color: var(--crimson);
}
    
.btn-profile {
    --bs-btn-bg: transparent;
    --bs-btn-color: var(--dark-blue);
    --bs-btn-active-bg: var(--light-gray);
    --bs-btn-hover-bg: var(--light-gray);
}

.btn-profile:hover, .btn-profile:active, .btn-profile:focus {
    border: 1px solid var(--bs-border-color-translucent);
}

.color-yellow {
    color: var(--dark-yellow);
}

input {
    --bs-body-bg: var(--light-gray);
    --bs-body-color:  var(--crimson);
}

.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color:  var(--crimson);
}

.nav-link-profile {
    --bs-nav-link-color: var(--dark-blue);
}

.dropdown-item {
    --bs-dropdown-link-color: var(--dark-blue);
}


.dropdown-menu {
    --bs-body-bg: var(--light-gray);
}

.form-select {
    --bs-body-color: var(--crimson);
    --bs-body-bg: var(--light-gray);
}

.table {
    --bs-table-bg: var(--light-gray);
    --bs-table-color: var(--crimson);
    color: var(--crimson);
}

.table tbody {
    --bs-table-color: var(--dark-blue);
}