{% extends "expenses/layout.html" %}
{% load static %}

{% block body %}
    <div class="d-flex justify-content-center">
        <div>
            {% if payments %}
                <table class="table container shadow">
                    <thead>
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Where</th>
                            <th scope="col">For</th>
                            <th scope="col">Note</th>
                            <th scope="col">Credit Card</th>
                            <th scope="col">Paid by CC</th>
                            <th scope="col">Cash</th>
                            <th scope="col">Paid by Cash</th>
                        </tr>
                    </thead>
                        
                    <tbody class="table-group-divider">
                        {% for payment in payments %}
                            <tr>
                                <td>{{ payment.payment_date }}</td>
                                <td>{{ payment.place }}</td>
                                <td>{{ payment.purchase_type }}</td>
                                <td>{{ payment.note }}</td>
                                <td>{{ payment.credit_card.card_name }}</td>
                                <td>{{ payment.credit_card_amount }}</td>
                                <td>{{ payment.cash.currency }}</td>
                                <td>{{ payment.cash_amount }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>

{% endblock %}