{% extends "expenses/layout.html" %}
{% load static %}

{% block body %}

    {% block script %}
        <script src="{% static '/index.js' %}"></script>
    {% endblock %}

    {% if user.is_authenticated %}

        <div class="d-flex justify-content-center">
            <div class="d-flex flex-column align-items-center">
                <div class="d-flex flex-column align-items-center mt-2">
                    <div class="text-center mb-2" style="color:var(--dark-yellow);">
                        Select month, year and currency to display your previous payments
                    </div>
                    <input class="form-control w-auto" type="month" max="{{ current_month_year|date:'Y-m' }}" 
                        value="{{ selected_month_year|date:'Y-m' }}" name="select_month"
                        id="selectMonth" onchange="getMonthAndYear()">
                </div>

                {% if payments %}
                    <div class="mt-4 mb-2" style="color:var(--dark-yellow);">
                        Your payments in {{ current_month }} {{ current_year }}
                    </div>
                    <table class="table container shadow">
                        <thead>
                            <tr>
                                <th scope="col">Date</th>
                                <th scope="col">Where</th>
                                <th scope="col">For</th>
                                <th scope="col">Note</th>
                                <th scope="col">Credit Card</th>
                                <th scope="col">Paid by CC</th>
                                <th scope="col">Cash</th>
                                <th scope="col">Paid by Cash</th>
                                <th scope="col">Debit Card</th>
                                <th scope="col">Paid by DC</th>
                            </tr>
                        </thead>
                            
                        <tbody class="table-group-divider">
                            {% for payment in payments %}
                                <tr>
                                    <td>{{ payment.payment_date }}</td>
                                    <td>{{ payment.place }}</td>
                                    <td>{{ payment.purchase_type }}</td>
                                    <td>{{ payment.note }}</td>
                                    <td>{% if payment.credit_card_amount %} {{ payment.credit_card.card_name }} {% else %} - {% endif %}</td>
                                    <td>{% if payment.credit_card_amount %} {{ payment.credit_card_amount }} {% else %} - {% endif %}</td>
                                    <td>{% if payment.cash_amount %} {{ payment.cash.currency.currency_name }} {% else %} - {% endif %}</td>
                                    <td>{% if payment.cash_amount %} {{ payment.cash_amount }} {% else %} - {% endif %}</td>
                                    <td>{% if payment.debit_card_amount %} {{ payment.debit_card.card_name }} {% else %} - {% endif %}</td>
                                    <td>{% if payment.debit_card_amount %} {{ payment.debit_card_amount }} {% else %} - {% endif %}</td>
                                </tr>
                            {% endfor %}
                            
                        </tbody>
                    </table>
                {% endif %}

                <div class="mt-4 mb-2" style="color:var(--dark-yellow);">
                    Total paid in {{ current_month }} {{ current_year }}
                </div>

                <table class="table shadow w-auto">
                    <thead>
                        <tr>
                            <th scope="col">Payment method</th>
                            <th scope="col">Total</th>
                        </tr>
                    </thead>

                    <tbody class="table-group-divider">
                        {% for el in current_credit_card_sum %}
                            <tr>
                                <td>{{ el.credit_card__card_name }}</td>
                                <td>{{ el.sum_credit_cards }}</td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td>Cash, {{ payment.cash.currency.currency_name }}</td>
                            <td>{{ current_cash_sum }}</td>    
                        </tr>
                        {% for el in current_debit_card_sum %}
                            <tr>
                                <td>{{ el.debit_card__card_name }}</td>
                                <td>{{ el.sum_debit_cards }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>


                {% if selected_payments %}
                    
                    <div class="mt-4 mb-2" style="color:var(--dark-yellow);">
                        Your payments in {{ selected_month }} {{ selected_year }}
                    </div>

                    <table class="table container shadow">
                        <thead>
                            <tr>
                                <th scope="col">Date</th>
                                <th scope="col">Where</th>
                                <th scope="col">For</th>
                                <th scope="col">Note</th>
                                <th scope="col">Credit Card</th>
                                <th scope="col">Paid by CC</th>
                                <th scope="col">Cash</th>
                                <th scope="col">Paid by Cash</th>
                                <th scope="col">Debit Card</th>
                                <th scope="col">Paid by DC</th>
                            </tr>
                        </thead>
                            
                        <tbody class="table-group-divider">
                            {% for selected_payment in selected_payments %}
                                <tr>
                                    <td>{{ selected_payment.payment_date }}</td>
                                    <td>{{ selected_payment.place }}</td>
                                    <td>{{ selected_payment.purchase_type }}</td>
                                    <td>{{ selected_payment.note }}</td>
                                    <td>{% if selected_payment.credit_card_amount %} {{ selected_payment.credit_card.card_name }} {% else %} - {% endif %}</td>
                                    <td>{% if selected_payment.credit_card_amount %} {{ selected_payment.credit_card_amount }} {% else %} - {% endif %}</td>
                                    <td>{% if selected_payment.cash_amount %} {{ selected_payment.cash.currency.currency_name }} {% else %} - {% endif %}</td>
                                    <td>{% if selected_payment.cash_amount %} {{ selected_payment.cash_amount }} {% else %} - {% endif %}</td>
                                    <td>{% if selected_payment.debit_card_amount %} {{ selected_payment.debit_card.card_name }} {% else %} - {% endif %}</td>
                                    <td>{% if selected_payment.debit_card_amount %} {{ selected_payment.debit_card_amount }} {% else %} - {% endif %}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    <div class="mt-4 mb-2" style="color:var(--dark-yellow);">
                        Total paid in {{ selected_month }} {{ selected_year }}
                    </div>
    
                    <table class="table shadow w-auto">
                        <thead>
                            <tr>
                                <th scope="col">Payment method</th>
                                <th scope="col">Total</th>
                            </tr>
                        </thead>
    
                        <tbody class="table-group-divider">
                            {% for el in selected_credit_card_sum %}
                                <tr>
                                    <td>{{ el.credit_card__card_name }}</td>
                                    <td>{{ el.sum_credit_cards }}</td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td>Cash, </td>
                                <td>{{ selected_cash_sum }}</td>    
                            </tr>
                            {% for el in selected_debit_card_sum %}
                                <tr>
                                    <td>{{ el.debit_card__card_name }}</td>
                                    <td>{{ el.sum_debit_cards }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                {% else %}

                    {% if selected_year %}
                        <div class="mt-4 mb-2" style="color:var(--dark-yellow);">
                            Your did not have payments in {{ selected_month }} {{ selected_year }}!
                        </div> 
                    {% endif %}

                {% endif %}
            </div>
        </div>

    {% else %}

        <div class="text-center mt-4 fs-5 create-expenses">
            <div class="mt-3">
                To create your own expenses
            </div>
            <div class="">
                Please 
                <span class="mx-2">
                    <a class="auth create-expenses" href="{% url 'login' %}">Login</a>
                </span>
                or 
                <span class="mx-2">
                    <a class="auth create-expenses" href="{% url 'register' %}">Register.</a>
                </span> 
            </div>
         </div>
        
    {% endif %}

{% endblock %}