{% extends "expenses/layout.html" %}
{% load static %}

{% block body %}

    {% block script %}
        <script src="{% static '/index.js' %}"></script>
    {% endblock %}

    {% if user.is_authenticated %}

        <div class="d-flex justify-content-center">
            <div class="d-flex flex-column align-items-center">
                <div class="d-flex flex-column align-items-center mt-2">
                    <div class="text-center mb-2" style="color:var(--dark-yellow);">
                        Select month and year to display your previous payments
                    </div>
                    <input class="form-control w-auto" type="month" max="{{ current_month_year|date:'Y-m' }}" 
                        value="{{ selected_month_year|date:'Y-m' }}" name="select_month"
                        id="selectMonth" onchange="getMonthAndYear()">
                </div>

                {% if payments %}
                    <div class="mt-4 mb-2" style="color:var(--dark-yellow);">
                        Your payments in {{ current_month }} {{ current_year }}
                    </div>
                    <table class="table container shadow">
                        <thead>
                            <tr>
                                <th scope="col">Date</th>
                                <th scope="col">Where</th>
                                <th scope="col">For</th>
                                <th scope="col">Note</th>
                                <th scope="col">Credit Card</th>
                                <th scope="col">Paid by CC</th>
                                <th scope="col">Cash</th>
                                <th scope="col">Paid by Cash</th>
                                <th scope="col">Debit Card</th>
                                <th scope="col">Paid by DC</th>
                            </tr>
                        </thead>
                            
                        <tbody class="table-group-divider">
                            {% for payment in payments %}
                                <tr>
                                    <td>{{ payment.payment_date }}</td>
                                    <td>{{ payment.place }}</td>
                                    <td>{{ payment.purchase_type }}</td>
                                    <td>{{ payment.note }}</td>
                                    <td>{{ payment.credit_card.card_name }}</td>
                                    <td>{{ payment.credit_card_amount }}</td>
                                    <td>{{ payment.cash.currency }}</td>
                                    <td>{{ payment.cash_amount }}</td>
                                    <td>{{ payment.debit_card.card_name }}</td>
                                    <td>{{ payment.debit_card_amount }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}

                {% if selected_payments %}
                    
                    <div class="mt-4 mb-2" style="color:var(--dark-yellow);">
                        Your payments in {{ selected_month }} {{ selected_year }}
                    </div>

                    <table class="table container shadow">
                        <thead>
                            <tr>
                                <th scope="col">Date</th>
                                <th scope="col">Where</th>
                                <th scope="col">For</th>
                                <th scope="col">Note</th>
                                <th scope="col">Credit Card</th>
                                <th scope="col">Paid by CC</th>
                                <th scope="col">Cash</th>
                                <th scope="col">Paid by Cash</th>
                                <th scope="col">Debit Card</th>
                                <th scope="col">Paid by DC</th>
                            </tr>
                        </thead>
                            
                        <tbody class="table-group-divider">
                            {% for selected_payment in selected_payments %}
                                <tr>
                                    <td>{{ selected_payment.payment_date }}</td>
                                    <td>{{ selected_payment.place }}</td>
                                    <td>{{ selected_payment.purchase_type }}</td>
                                    <td>{{ selected_payment.note }}</td>
                                    <td>{{ selected_payment.credit_card.card_name }}</td>
                                    <td>{{ selected_payment.credit_card_amount }}</td>
                                    <td>{{ selected_payment.cash.currency }}</td>
                                    <td>{{ selected_payment.cash_amount }}</td>
                                    <td>{{ selected_payment.debit_card.card_name }}</td>
                                    <td>{{ selected_payment.debit_card_amount }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                {% else %}

                    {% if selected_year %}
                        <div class="mt-4 mb-2" style="color:var(--dark-yellow);">
                            Your did not have payments in {{ selected_month }} {{ selected_year }}!
                        </div> 
                    {% endif %}

                {% endif %}
            </div>
        </div>

    {% else %}

        <div class="text-center mt-4 fs-5 create-expenses">
            <div class="mt-3">
                To create your own expenses
            </div>
            <div class="">
                Please 
                <span class="mx-2">
                    <a class="auth create-expenses" href="{% url 'login' %}">Login</a>
                </span>
                or 
                <span class="mx-2">
                    <a class="auth create-expenses" href="{% url 'register' %}">Register.</a>
                </span> 
            </div>
         </div>
        
    {% endif %}

{% endblock %}